@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


main{
    padding: 50px 30px;
    width: 100%;
    height: 100%;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
}

.card_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 25px;
}

.card:hover{
    transition: .3s ease-in-out;
    transform: scale(1.024);
}

.card-image{
    height: 100%;
}

.img_card{
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.container.is-fullhd{
    position: absolute;
    width: 100%;
    bottom: 0;
}