@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden !important;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 50px;
  gap: 30px;
}

#video{
  height: 650px;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#btn-next2{
  display: none;
}

.lower-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.ep-info-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  >#episode-image{
    height: 250px;
    border-radius: 5px;
    border: solid 2px #485fc7;
  }

  .right{
    display: flex;
    flex-direction:column ;
    gap: 10px;
    font-size: 18px;
    >#episode-title{
      font-weight: 600;
    }
  }
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background: #485fc7 !important;
  color: #ffffff;
}

footer strong , footer a{
  color: #ffffff !important;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .lower-container {
    height: auto;
    gap: 30px;
  }

  #video{
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .video-container{
    height: 100%;
    padding: 30px 15px;
    gap: 30px;
    margin-top: 80px;
  }

  #video{
    height: 100%;
  }

  .btn-container{
    justify-content: flex-start;
  }

  #btn-back{
    margin-right:5px ;
  }

  .btn2-container{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .quality-container,
  .server-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .quality-container h3,
  .server-container h3 {
    width: 100%;
    margin-bottom: 10px !important;
  }  
  .plyr__controls__item.plyr__volume
  /* .plyr__control,
  .plyr__controls__item.plyr__control */
  {
    display: none;
  }

  .ep-info-container{
    gap: 20px;
  }

  .ep-info-container >#episode-image  {
    height: 180px !important;
  }

  & .right{
    margin-left: 0 !important;
    font-size: 16px !important;
  }

  & >#episode-title, #episode-description {
    font-weight: 400 !important;
  }
  

}
