@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden !important;
}

.title{
  font-size: 30px !important;
}

.nav-mobile {
  display: none;
}

.nav-mobile-active {
  display: block;
  position: fixed;
  height: 100vh;
  z-index: 1;
  background: #485fc7;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-mobile-active a {
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
}

.navbar-burger {
  z-index: 2;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 50px;
  gap: 20px;
}

#video{
  height: 650px;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.lower-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background: #485fc7 !important;
  color: #ffffff;
}

footer strong , footer a{
  color: #ffffff !important;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .lower-container {
    height: auto;
    gap: 40px;
  }

  #video{
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .navbar-item p {
    font-size: 28px;
  }

  .video-container{
    height: 100%;
    padding: 30px 15px;
    gap: 30px;
  }

  #video{
    height: 100%;
  }
  
  .quality-container,
  .server-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .quality-container h3,
  .server-container h3 {
    width: 100%;
    margin-bottom: 10px !important;
  }  
  .plyr__controls__item.plyr__volume
  /* .plyr__control,
  .plyr__controls__item.plyr__control */
  {
    display: none;
  }
  

}
